<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/home.css" />

<div class="d-flex text-center text-white">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="px-3">
      <h1 class="custom-heading">YelpCamp</h1>
      <p class="lead">
        Welcome to YelpCamp! Jump right in and explore our many campgrounds.
        <br />
        Feel free to share some of your own and comment on others!
      </p>
      <a
        href="/campgrounds"
        class="btn btn-lg btn-secondary font-weight-bold border-white bg-white button-font"
        >Campgrounds</a
      >
    </div>
  </div>
</div>
